{% extends "material/base.html" %}
{% block content %}
<head>
  <style>
    .card-panel {
      background-color:rgb(19, 51, 123);
      text-align: center;
    }
  body {
    background-image: url('../static/Banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.card-content {
  background-color:rgba(19, 50, 123, 0.348);
}
ol {
  list-style-type: disc;
  list-style-position: inside;
}
  </style>
</head>


<div class="col s12 m4 offers">
  <div class="card-panel">
  <h3 style="text-align: center;" style="color:azure;">CNC MACHINE-RECOMMEND SOLUTION</h3>
  </div>

</div>

<!-- <div class="container">
    <ul>
        <h2>MINOR FAULTS</h2>
        <h4>Failures that may occur in this Fault type:</h4>
         <li>Minor faults in electric motors may be caused by problems with the motor bearings or by misalignment of the spindle motor.</li>
         <li>The spindle motor is the shaft that rotates the workpiece in a machine tool. If the spindle motor is misaligned, it can cause the shaft to vibrate, which can also lead to minor faults.</li>
         <li></li>
    </ul>
</div> -->

<div class="row">
    <div class="col s3 m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title"></span>
          <ol>
            <h4 style="text-align: center;">MINOR-FAILURES</h4>
            <h5>Spindle_Motor_Baselooseness_Vibration</h5>
            <li>If the vibration sensor value of baselooseness is low and equal to all other sensor value then it might lead to minor faults in a machine.</li>
            <li>When the spindle motor is not securely fastened to its base, it can cause the spindle to vibrate which may create the machine enviroment noisy.</li>
            <h6><strong>Preventions:</strong></h6>
             <li>Regularly inspect the spindle motor base for looseness.</li>
             <li>Tighten the spindle motor mounting hardware to the manufacturer's specifications on regular basis.</li>
             <h5>Spindle_Motor_Bearing_Vibration</h5>
             <li>The spindle motor bearing is a critical component of the machine, and its vibration is lowly correlated to other vibration sensor. This means that minor faults in the spindle motor bearing are unlikely to cause minor faults in other machine components. However, major faults in the spindle motor bearing will likely cause major machine failures.</li>
             <li>The spindle motor bearing must be properly aligned with the other machine components in order to operate properly. If the spindle motor bearing is misaligned, it can cause the spindle motor shaft to wobble, which can lead to vibration.</li>
             <h6><strong>Preventions:</strong></h6>
             <li>Regularly inspect the spindle motor bearing for wear and tear, misalignment, contamination, and improper lubrication.</li>
             <li>Keep the spindle motor bearing clean and free of contamination.</li>

             <h5>Spindle_Motor_Misalignment_Vibration</h5>
             <li>Misalignment can cause noise and vibration. This is because the misalignment can cause the machine components to vibrate against each other.</li>
             <li>The spindle motor bearing must be properly aligned with the other machine components in order to operate properly. If the spindle motor bearing is misaligned, it can cause the spindle motor shaft to wobble, which can lead to vibration.</li>
             <h6><strong>Preventions:</strong></h6>
             <li>Machines should be designed and manufactured to minimize the risk of misalignment. This includes using high-quality materials and components, and machining the components to precise tolerances.</li>
             <li>Machines should be regularly inspected for misalignment. This can be done using a variety of tools and techniques, such as laser alignment, dial indicators, and feeler gauges. If misalignment is found, it should be corrected immediately.</li>

             <h5>Spindle_Motor_Unbalance_Vibration</h5>
             <li>When the spindle motor is unbalanced, it creates a centrifugal force that causes the spindle to vibrate. This vibration can be transmitted to the rest of the CNC machine, causing more noise and vibration</li>
             <li>If the sensor value of unbalanced vibration gradually increases it lead to minor failures in machines.</li>
             <h6><strong>Preventions:</strong></h6>
             <li>Keep the spindle motor shaft and bearings clean and well-lubricated.</li>
              <li>Inspect the spindle motor regularly for wear and tear. </li>
              <li>Balance the spindle motor on a regular basis.</li>
             
        </ol>
          
        </div>
      </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}




{% endblock %}